.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  border: 1px solid black;
  .currency {
    input {
      width: 200px;
      border-radius: 20px;
      height: 30px;
      padding: 0 20px;
      margin-bottom: 20px;
    }

    select {
      height: 30px;
      margin: 10px;
      option {

      }
    }

    button {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      border: none;
      background: #69dd32;
    }
  }
  .error{
    color: red;
    font-size: 25px;
  }
}
